export OPENSTACK_COMPUTE_URL=...
export OPENSTACK_NETWORK=...
export OPENSTACK_VOLUME_V2=...
export OPENSTACK_IMAGE=...
export OPENSTACK_VOLUME=...
export OPENSTACK_STORE=...
export OPENSTACK_IDENTITY=...

export OPENSTACK_USERNAME=...
export OPENSTACK_PASSWORD=...
export OPENSTACK_TENANT=...

export GOHOME=$PWD/go
