openstack_identity_endpoint = "some-url"
openstack_username = ""
openstack_password = ""
openstack_key_path = "~/.ssh/bosh.pem"
openstack_key_name = "bosh"
openstack_tenant_name = "XXX"
openstack_region = "RegionOne"
network = "10.10"
# use `nova network-list` command to find out this value
openstack_public_network_id = "xxxxxxxxx"
jumpbox_image_id = "xxxxxxx"
jumpbox_key_pair = "bosh"